@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#1C1C1C;
    font-family: 'Lobster', sans-serif;
    overflow-x: hidden;
}
footer{
    background-color:#0B0B0B;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}